*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;200;300;400;500;600;800&display=swap);

body {
  font-family: 'Be Vietnam', sans-serif;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}